#ball
{
	width: 250px;
	height: 250px;
	background: black;
	-moz-border-radius: 125px;
	-webkit-border-radius: 125px;
	border-radius: 125px;
	margin: 0 auto;
    /* Gradient for 8 ball begins */
	background-image: -webkit-gradient(
	linear,left top,left bottom,color-stop(0, #5D665D),color-stop(1, #000000));
    background-image: -o-linear-gradient(bottom, #5D665D 0%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #5D665D 0%, #000000 100%);
    background-image: -webkit-linear-gradient(bottom, #5D665D 0%, #000000 100%);
    background-image: -ms-linear-gradient(bottom, #5D665D 0%, #000000 100%);
    background-image: linear-gradient(to bottom, #5D665D 0%, #000000 100%);
}
#window
{
    width: 150px;
    height: 150px;
    background: rgb(7, 7, 7);
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 75px;
    position: relative;
    margin: auto;
    top: 45px;
    /* IE10 Consumer Preview */ 
    background-image: -ms-radial-gradient(center, circle farthest-corner, #000000 0%, #EFEFEF 800%);
    /* Mozilla Firefox */ 
    background-image: -moz-radial-gradient(center, circle farthest-corner, #000000 0%, #EFEFEF 800%);
    /* Opera */ 
    background-image: -o-radial-gradient(center, circle farthest-corner, #000000 0%, #EFEFEF 800%);
    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(radial, center center, 0, center center, 506, color-stop(0, #000000), color-stop(8, #EFEFEF));
    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-radial-gradient(center, circle farthest-corner, #000000 0%, #EFEFEF 800%);
    /* W3C Markup, IE10 Release Preview */ 
    background-image: radial-gradient(circle farthest-corner at center, #000000 0%, #EFEFEF 800%);
}
#triangle {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 100px solid rgb(0, 4, 56);
    margin: 0 auto;
    position: relative;
    top: 15px;
}
#inputQuestion
{
  width: 198px;
  font-size: 1em;
  line-height: 1.25em;
  padding: 0.3125em 0;
  height: 1.875em;
  border: 0;
  border-bottom: 0.125em solid #bbbbbb;
  outline: none;
  padding-left: 3px;
}
#inputQuestion:focus
{
  border-bottom: 0.125em solid #33B5E5;
}
#container
{
  margin: 0 auto;
  width: 300px;

}
#infotext
{
  opacity: 0;
  position: relative;
  top: 18px;
  left: 100px;
}
.infotextafter
{
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -ms-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}


